/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* 1. ROOT */

html {
	overflow-y: scroll;
}

head {
	
}

body {
	font-size: 100%;
	background: #636363;
	margin-top: 0px;
}

#omnibus{
		margin: 0 180px 0 180px;
		position: relative;
		background: white;
		border-left-style: solid; 
		border-right-style: solid;
		border-color: #174469;
		border-width: 10px;
		border-bottom-style: solid;
}

#container {
	padding: 50px 45px 0px 45px;
}

.hidden {
	display: none;
}


/* 2. HEADINGS */

h1 {
	font-size: 7em;
}

h2 {
	font-size: 2em;
	color: ;
	font-family: helvetica, sans-serif;
	src: url("LeagueGothic-Regular.otf") format("opentype");
	font-weight: bold;
	text-transform: ;
	margin-bottom: .5em;
}

h3 {
	font-size: 3em;
}

h4 {
	font-size: 2em;
}

h5 {
	font-size: 1.2em;
	text-transform: uppercase;
}


/* 3. TYPOGRAPHY */
/* 4. LINKS */

a {
	text-decoration: none;
}

/* 5. FIGURES & IMAGES */
/* 6. TABLES */
/* 7. FORMS */
/* 8. BANNER */

#header {
	margin: 0 0 0 15px;
}

#header a:link, #header a:visited {
	color: #174469;
	font-family: "League Gothic", helvetica, sans-serif;
	src: url("LeagueGothic-Regular.otf") format("opentype");
	text-transform: uppercase;
}

/* 9. NAVIGATION */

#nav {
	clear: both;
	text-transform: uppercase;
	font-family: helvetica, sans-serif;
	font-size: 1.2em;
}

#nav ul {
	border-top-style: solid;
	border-bottom-style: solid;
	border-color: #ff9400;
	border-width: 2px;
}

#nav li {
	display: inline-block;
	padding: 7px 0 7px 0;
}

#nav a {
	color: #ff9400;
	margin: 0;
	padding: 7px 15px 7px 15px;
}

#nav a:hover, a#current {
	color: white;
	background-color: #ff9400;
}


/* 10. CONTENT */

#middle {
	margin: 0;
	padding: 0;
}

#content {
	margin: 20px 5px 5px 5px;
	padding: 5px;
	font-family: helvetica, sans-serif;
}

img {
	float: left;
	margin: 0 15px 0 0;
}

img#homephoto {
	/* original is 523 x 391 */
	width: 353px;
	height: 264px;
}

img#aboutphoto {
	width: 300px;
	height: 400px;
}

#copy {
	padding: 0 40px 0 40px;
}

p#copy {
	line-height: 1.5em;
}

#copy p {
	margin: 0 0 20px 0;
}

#blog a {
	font-size: 3em;
	color: #ffca40;
	font-family: "League Gothic", helvetica, sans-serif;
	src: url("LeagueGothic-Regular.otf") format("opentype");
	text-transform: ;
	margin-bottom: .5em;
}

#blog a:hover {
	color: #ffd873;
}

em {
	font-style: italic;
}

#update {
	font-size: .8em;
	color: grey;
	clear: both;
	text-align: right;
	margin: 30px 0 0 0;
	padding: 30px 0 0 0;
}

/* 11. FOOTER */

#footer{
	font-family: helvetica, sans-serif;
	font-size: .7em;
	color: white;
	background-color: #174469;
	text-align: center;
}

#footer address {
		line-height: 1.05em;	
}

#footer h5 {
	text-transform: uppercase;
}

#footer a {
	color: white;
}

#footer a:hover {
	color: #ff9400;
}
