/* 1. ROOT */

html {
	overflow-y: scroll;
}

head {
	
}

body {
	font-size: 100%;
	/*	background: -webkit-radial-gradient(#bbe5e2, #6cb3af); /* Safari 5.1 to 6.0 */
	/*	background: -o-radial-gradient(#bbe5e2, #6cb3af); /* For Opera 11.6 to 12.0 */
	/*	background: -moz-radial-gradient(#bbe5e2, #6cb3af); /* For Firefox 3.6 to 15 */
	/*	background: radial-gradient(#bbe5e2, #6cb3af); /* Standard syntax */
	background: white;
	margin: 0 auto;
	line-height: 1.4;
	color: grey;
	/*	color:  white; */
}

#omnibus{
	max-width: 55%;
	min-width: 500px;
	margin: 20px auto;
	position: relative;
}

.hidden {
	display: none;
}


/* 2. HEADINGS */

h1 {
	line-height: 1.25;
	font-family: "Cubano", helvetica, sans-serif;
	color: #363636;
}

h2, h3, h4 {
	line-height: 1.25;
	font-family: "Source Sans Pro", Cubano, sans-serif;
	font-weight: bold;
	color: #363636;
}

h1 {
	font-size: 3em;
 	padding-bottom: 20px;
}

h2 {
	font-size: 1.75em;
	padding-bottom: 20px;	
}

/* 3. TYPOGRAPHY */

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Cubano";
	src: url("../fonts/Cubano-Regular.otf") format("opentype");	
}

/*@font-face {
	font-family: "League Gothic";
	src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Colaborate-Thin";
	src: url("../fonts/ColabThi.otf") format("opentype");
}

@font-face {
	font-family: "Colaborate-Regular";
	src: url("../fonts/ColabReg.otf") format("opentype");
}*/

/* 4. LINKS */

a {
	text-decoration: none;
}

/* 5. FIGURES & IMAGES */
/* 6. TABLES */
/* 7. FORMS */
/* 8. BANNER */

header {
	margin-bottom: 50px;
	float: left;
	width: 460px;
}

header img {
	display: block;
	height: 75%;
	width: 75%;
}

/* 9. NAVIGATION */

#nav {
	/*text-transform: uppercase;*/
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: 1em;
	padding-top: 5px;
	padding-right: 0px;
}

#nav li {
	display: inline-block;
	margin-bottom: 1em;
}

#nav li:first-child {
	margin-left: 0px;
}

#nav a {
	color: #363636;
	padding: 3px 10px;
	border-radius: 4px;
}

#nav a:hover {
	color: white;
	background-color: #696969;
}

#nav a#current-page {
	color: white;
	background-color: #363636;
}


/* 10. CONTENT */

#content {
	clear: left;
	margin-top: 30px;
	margin-right: 50px;
	padding-left: 5px;
	font-family: "Source Sans Pro", helvetica, sans-serif;
}

#home-photo {
	/* original is 276 x 376 */
	float: right;
	width: 207px;
	height: 282 px;
	margin-left: 10px;
	margin-bottom: 30px;
}

#copy a{
/*	color: #bfb300;*/
	color: #7acdc8;
	font-weight: bold;
}

#copy a:hover{
/*	color: #d4c600;*/
	color: #8ae5df;
}

#copy p{
	padding-bottom: 20px;
}

em {
	font-style: italic;
}

.contact {
	font-style: normal;
	color: #bfb300;
}


/* 11. FOOTER */
small {
	font-size: .7em;
}

#copyright {
	text-align: left;
	background-color; black;
	color: #363636;
	font-family: "Cubano", helvetica, sans-serif;
	padding-top: 30px;
}

/* 12. CONTACT */
a:hover.socmedia{
	position:relative;
	top: -5px;
}

#linkedin img {
	height: 45px;
	width: 45px;
	margin-bottom: 2px;
}

#twitter img {
	height: 48px;
	width: 48px;
} 


/* HIDE LAB ALUMNI INFO */

.alum_entry {
	display:none;
}

/* Sloppy solution for now, should re-format headings to make this cleaner */
h2.alum {
	font-size:1.25em;
}

h2.alum:hover {
	opacity: 0.6;
}
