/* 1. ROOT */

html {
	overflow-y: scroll;
}

head {
	
}

body {
	font-size: 100%;
	background: -webkit-radial-gradient(#bbe5e2, #6cb3af); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#bbe5e2, #6cb3af); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#bbe5e2, #6cb3af); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#bbe5e2, #6cb3af); /* Standard syntax */
	margin: 0;
	line-height: 1.4;
	color:  white;
}

#omnibus{
	max-width: 55%;
	alignment: center;
	min-width: 500px;
	margin: 20px auto;
	position: relative;
}

.hidden {
	display: none;
}


/* 2. HEADINGS */

h1 {
	line-height: 1.25;
	font-family: "Cubano", helvetica, sans-serif;
	color: #363636;
}

h2, h3, h4 {
	line-height: 1.25;
	font-family: "Source Sans Pro", Cubano, sans-serif;
	font-weight: bold;
	color: #363636;
}

h1 {
	font-size: 3em;
 	padding-bottom: 20px;
}

h2 {
	font-size: 1.75em;
	padding-bottom: 20px;	
}

/* 3. TYPOGRAPHY */

@font-face {
	font-family: "Montserrat";
	src: url("../fonts/Montserrat-Light.otf") format("opentype");
}

@font-face {
	font-family: "Source Sans Pro";
	src: url("../fonts/SourceSansPro-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Cubano";
	src: url("../fonts/Cubano-Regular.otf") format("opentype");	
}

/*@font-face {
	font-family: "League Gothic";
	src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}

@font-face {
	font-family: "Colaborate-Thin";
	src: url("../fonts/ColabThi.otf") format("opentype");
}

@font-face {
	font-family: "Colaborate-Regular";
	src: url("../fonts/ColabReg.otf") format("opentype");
}*/

/* 4. LINKS */

a {
	text-decoration: none;
}

/* 5. FIGURES & IMAGES */
/* 6. TABLES */
/* 7. FORMS */
/* 8. BANNER */

header {
	text-transform: uppercase;
	margin-bottom: 50px;
}

header img {
	height:70%;
	width:70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header a, a:visited {
	color: #7acdc8;
}

/* 9. NAVIGATION */

#nav {
	clear: both;
	text-transform: uppercase;
	font-family: "Source Sans Pro", helvetica, sans-serif;
	font-size: 1em;
}

#nav li {
	display: inline-block;
}

#nav a {
	color: #363636;
	text-align: center;
	padding: 3px 10px;
	margin-right: 10px;
	border-radius: 4px;
}

#nav a:hover {
	color: white;
	background-color: #696969;
}

#nav a#current-page {
	color: white;
	background-color: #363636;
}


/* 10. CONTENT */

#content {
	margin-top: 30px;
	font-family: "Source Sans Pro", helvetica, sans-serif;
}

#home-photo {
	/* original is 276 x 376 */
	float: left;
	width: 207px;
	height: 282 px;
	padding-right: 30px;
	padding-bottom: 30px;
}

#copy a{
	color: #bfb300;
	font-weight: bold;
}

#copy a:hover{
	color: #d4c600;
}

#copy p{
	padding-bottom: 20px;
}

em {
	font-style: italic;
}

.contact {
	font-style: normal;
	color: #bfb300;
}


/* 11. FOOTER */
small {
	font-size: .7em;
}

#copyright {
	text-align: right;
	background-color; black;
	color: #363636;
	font-family: "Cubano", helvetica, sans-serif;
	padding-top: 30px;
}