/* BODY */
body {
	font-family: 'Source Sans Pro', sans-serif;
}


/* BANNER */

.topbar {
	height: 100px;
	background-color: white;
	position: fixed;
	border-bottom: 1px solid black;
	
	/* make consistent with skeleton */
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
}

@media (min-width: 400px) {
  .topbar {
    width: 85%;
    padding: 0; }
}

@media (min-width: 550px) {
  .topbar {
    width: 80%; }
}


#logo {
	height: 100px;
	float:left;
}

@media (min-width: 400px) {
  #logo {
    height: 85%;
    padding: 0; }
}

@media (min-width: 550px) {
  #logo {
    height: 80%; }
}

/* NAVIGATION */
#navbar {
	position: absolute;
	top: 41px;
	right: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul li {
	text-align: center;	
	display: inline;
}

li a {
	text-decoration: none;
	color: black;
	padding: 20px;
}

li a:hover {
	color: #D3D3D3;
}

.currpage {
	color: #696969;
}

/* HEADINGS */
h1 {
	font-size: 50px;
	font-weight: 800;
	text-align: center;
}

h2 {
	;
}

/* CONTENT */

#content {
	padding-top: 150px;
}


a.button {
	text-align:center;
	margin-top: 15px;
	margin-bottom: 15px;
}

table, table.u-full-width, form {
	margin-bottom: 0px;
}

.buffer {
	height: 100px;
}
