/**********DISPLAY NONE FOR ALL STATES**********/

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

body {
	font-family:"Source Sans Pro";
	max-width: 600px;
	margin: auto;
}

.slide {
	margin-top: 100px;
	text-align: center;
}

#groupReminder {
	opacity: .5;
}

h1 {
	text-align: center;
}

#instructions {
	display:none;
}

#dancer {
	display:none;
}

#persInstructions {
	display:none;
}

#personality {
	display:none;
}

#summary {
	display:none;
}

#end {
	display:none;
}